[Unit]
Description=Netbox VM Service
Documentation=https://github.com/ringsq/netboxvmsync
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot

User=netbox
Group=netbox
WorkingDirectory=/opt/netboxvmsync

EnvironmentFile=-/etc/sysconfig/netboxvmsync
ExecStart=/opt/netboxvmsync/netboxvmsync

PrivateTmp=true

[Install]
WantedBy=multi-user.target